$colorWhite: #fff;
$colorCream: #e3e0cf;
$colorGray: #9fa8a3;
$colorGreen: #c5d5cb;


// Secondary Option

$colorResaltText: #008AA0;
$colorMainDark: #343d46;
$colorSecDark: #4f5b66;
$colorMed: 	#65737e;
$colorNormal: #a7adba;
$colorLigth: #c0c5ce;
$colorSuperLigth: #eaeaea;
