.header__title {
  color: #fff;
  margin: 10px auto;
  width: 200px;
  background: url("../../images/icons/wikipedia-logotype-of-earth-puzzle.png") no-repeat right center scroll transparent; }
  .header__title__resalt {
    color: #008AA0; }

.header__subtitle {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px; }
  .header__subtitle > b {
    color: #c0c5ce; }
